*{
    margin: 0;
    padding: 0;
    background-color: #E6E6FA;
}

body {
    /* font-family: 'Roboto', sans-serif;  */
    font-family: "Newsreader", serif;
}

.borders{
    border: 5px solid #555;
    box-shadow: inset -30px 0 30px -20px rgba(0, 0, 0, 0.7);
}
html{
    scroll-behavior: smooth;
}

p{
    color: black;
}

a, .btn{
    transition: all 300ms ease;
}

nav{
justify-content: space-around;
align-items: center;
top: 7vh;
display: flex;
position: fixed;
z-index: 1;
left: 25%;
right: 25%;
width: 100px;
}

.nav-link.active {
    background-color: #7A0BC0; /* Purple */
    color: white;
    border-radius: 10px;
}
.nav-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 8px 15px;
    transition: 0.3s ease-in-out;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: #FF6F61;
    text-decoration: none;
    text-decoration-color: white;
    font-size:2.5rem;
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: default;
}


section {
    padding-top: 4vh; 
    height: 90vh;
    margin: 5rem 10rem;
    box-sizing: border-box; 
    min-height: fit-content;
}

.section-container { 
    display: flex;
}
/* PROFILE SECTION */
#profile {
    display: flex;
    justify-content: center;
    gap: 10rem;
    height: 80vh;
}

.about-content {
    display: flex;
    align-items: center;
}

.section_pic-container { 
    display: flex; 
    height: 450px; 
    width: 450px; 
    margin: auto 0;
}    
.section_text { 
    align-self: center; 
    text-align: center;
}

.section_text p { 
    font-weight: 600;
}
.section_text_p1 { 
    text-align: center;
}

.section_text_p2 {
    font-size: 1.75rem; 
    margin-bottom: 1rem;
}

.title { 
    font-size: 3rem; 
    text-align: center;
    color: purple;
}

.typewriter {
    white-space: nowrap;
    overflow: hidden; 
    border-right: 3px solid black; /* Cursor effect */
    width: fit-content;
    animation: typing 3s steps(40) forwards, blink 0.8s infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }

#socials-container {
display: flex;
justify-content: center; 
margin-top: 1rem;
gap: 1rem;
}

.icon{
    cursor: pointer;
    height: 2rem;
}

.popout {
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}
@keyframes popout {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
}
@-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
}

.btn-container { 
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn {
font-weight: 600;
transition: all 300ms ease;
padding: 1rem; 
width: 8rem; 
border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
    color: purple;
}

.btn-color-1:hover,
.btn-color-2:hover { 
    cursor: pointer;
    color: #FF6F61;
    background: rgb(53, 53, 53);
    border: rgb(255, 255, 255) 0.1rem solid;

}

.btn-container {
    gap: 1rem;
}

#about {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 4rem 0;
}

#skills {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 4rem 0;
}

#education-and-experience {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 6rem 0;
}

#resume {
    justify-content: center;
    text-align: center;
    padding: 6rem 0;
}

#contact {
    justify-content: center;
    text-align: center;
    padding: 6rem 0;
}
#about .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#about p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.character {
    width: 150px;
    height: 150px;
    background-color: #ffcc00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: relative;
}

#about button {
    padding: 10px 20px;
    font-size: 16px;
}

.rounded-nav {
    border-radius: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: fit-content;
  }
  
  .rounded-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  
  .rounded-nav a {
    text-decoration: none;
    color: #2e2c3a;
    padding: 10px 20px;
    border-radius: 20px;
  }
  
  .rounded-nav a:hover,
  .rounded-nav a:focus {
    background-color: white;
    color: #FF6F61;
    
  }

/* Flowchart Container */
.skills-flowchart {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skill-node {
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.7);
}

.skill-node h4 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    text-decoration: underline;
}

.skill-node ul {
    list-style-type: none;
    padding-left: 0;
}

.skill-node ul li {
    font-size: 18px;
    margin-bottom: 8px;
    text-align: center;
    color: purple;
}

.skill-node:hover {
    transform: scale(1.05); /* Slight scale-up */
    background-color: #eae2f8; /* Light purple */
    box-shadow: 0 8px 20px rgba(122, 11, 192, 0.4); /* Purple Glow */
}

.handwritten-container {
    width: 100%;
    padding: 40px;
    text-align: center;
    margin-top: 20px;
}

.handwritten-text {
    font-size: 20px;  /* Adjust font size */
    color: white;  /* Dark grey color */
    
    background-color: black;
    padding: 15px;
    margin: 15px 15px 15px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for paper effect */
    max-width: 80%;
    line-height: 1.5;
    display: inline-block;
    text-align: left; /* Align text inside the bubble */
}

/* Adding a slight hand-drawn effect */
.handwritten-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #d1c8c1;
    border-radius: 8px;
    pointer-events: none;
    z-index: -1; /* Send border behind the text */
}

/*****EXPERIENCE SECTION*****/

.edu-exp {
	width: 40%;
	float: left;
    margin: 5%
}
.experience-list {
	width: 100%;
	float: left;
	padding: 30px 10px;
	margin-bottom: 20px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.7);
}
.experience-content {
	width: 100%;
	float: left;
	margin-left: 10px;
}
.experience-content h2 {

	font-weight: 600;
	margin-bottom: 5px;
	font-size: 20px;
}
.experience-content h3 {
	color: purple;
	font-weight: 500;
	margin-bottom: 2px;
	font-size: 17px;
}
.experience-content p {
	font-size: 15px;
}

.container {
	width: 1100px;
	margin: 0px auto;
	display: table;
}

.modal{
background-color: #000000; 
opacity: 0;
position: fixed;
top: 0; 
left: 0; 
right: 0; 
bottom: 0;
transition: all 0.3s ease-in-out;
z-index: -1;
display: flex;
align-items: center; 
justify-content: center;
}

.modal.open{
    opacity: 1;
    z-index: 999;
}

.modal-inner {
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 1px 4px Orgba(0, 0, 0, 0.3); 
    padding: 30px 25px; 
    text-align: center;
    width: 600px;
}